<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Packages" data-toc-modified-id="Import-Packages-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Packages</a></span></li><li><span><a href="#Loading-the-Data" data-toc-modified-id="Loading-the-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Loading the Data</a></span><ul class="toc-item"><li><span><a href="#Dataframe-Statistics" data-toc-modified-id="Dataframe-Statistics-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Dataframe Statistics</a></span></li><li><span><a href="#Missing-Data" data-toc-modified-id="Missing-Data-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Missing Data</a></span></li></ul></li><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Cleaning</a></span></li><li><span><a href="#Import-Csv-Data-To-Server" data-toc-modified-id="Import-Csv-Data-To-Server-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Import Csv Data To Server</a></span></li></ul></div>

# Import Packages

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from IPython.display import Image

In [15]:
# Show plots in jupyter notebook
%matplotlib inline

In [16]:
# Set plot style
sns.set(color_codes=True)

In [17]:
# Set maximum number of columns to be displayed
pd.set_option('display.max_columns',100)

# Loading the Data

Load the data into a dataframe.

In [18]:
containers=pd.read_csv('containers.csv')
po=pd.read_csv('po_bookings.csv')
suppliers=pd.read_csv('suppliers.csv')
shipments=pd.read_csv('shipments.csv')
cosignees=pd.read_csv('consignees.csv')

In [19]:
containers.head(3)

,shipment_id,container_id,container_type,container_size,volume_cbm,weight_kg,container_utilization
0,551258,195846,Dry,40 ft HC,65.590,9155.62,0.8642
1,611620,228371,Dry,40 ft,34.800,5774.00,0.5179
2,569644,199211,Dry,40 ft,51.572,6017.92,0.7674

In [20]:
cosignees.head(3)

   consignee_company_id consignee_market_segment        consignee_created_at
0                566300                 Emerging  2016-06-15 23:06:31.605727
1                612365               Enterprise  2017-03-27 20:37:24.758263
2                719753               Enterprise  2018-12-07 17:01:26.683009

In [21]:
suppliers.head(3)

,supplier_company_id,supplier_country_code,supplier_in_east_china,supplier_in_south_china,bookings_feature_first_enabled_at
0,663991,CN,f,t,NaN
1,674105,US,f,f,2018-05-03 16:30:18.969
2,593587,US,f,f,2017-05-10 16:46:10.27

In [22]:
shipments.head(3)

,shipment_id,shipment_created_in_system_date,mode,bco,freight_service,freight_type,incoterms,contains_dangerous_goods,supplier_company_id,consignee_company_id,supplier_lat,supplier_lng,departure_port,arrival_port,inland_port,consignee_final_destination_lat,consignee_final_destination_lng,tradelane,freight_carrier,actual_cargo_ready_date,scheduled_departure_port_departure_date,actual_departure_port_departure_date,scheduled_arrival_port_arrival_date,actual_arrival_port_arrival_date,scheduled_inland_port_arrival_date,actual_inland_port_arrival_date,scheduled_delivery_date,actual_delivery_date,includes_customs,target_net_revenue,estimated_total_cost,actual_total_cost,actual_total_invoice
0,609050,2019-08-30,Ocean FCL,f,CY to CY,Port to Door,FOB,f,725672,612365,25.648525,119.252883,"Xiamen, China","Los Angeles, CA","Chicago, Illinois",40.522074,-87.175563,TPEB,Gabon Airlines Cargo,2019-09-09,2019-09-15 04:00:00,2019-09-15 02:54:00,2019-09-28 19:00:00,NaN,2019-10-05 17:00:00,NaN,2019-10-11 17:00:00,NaN,f,899.24,17984.72,0.00,18374.08
1,580758,2019-07-21,Ocean FCL,f,CY to CY,Port to Port,FOB,f,639363,546609,31.232768,120.723628,Ningbo,"Long Beach, California",NaN,34.890904,-117.057586,TPEB,Orient Thai Airlines,2019-08-16,2019-08-25 04:00:00,2019-08-25 13:16:00,2019-09-10 19:00:00,2019-09-10 22:16:35,NaN,NaN,2019-09-19 19:00:00,NaN,f,138.13,1381.28,2124.51,1602.65
2,384675,2018-08-15,Ocean FCL,f,CY to CY,Port to Port,FOB,f,633728,546609,23.803842,114.291961,"Yantian, China","Long Beach, California",NaN,34.890611,-117.057830,TPEB,G & M TRUCKING LLC,2018-10-10,2018-10-16 01:00:00,2018-10-16 01:00:00,2018-10-31 15:00:00,2018-10-31 15:00:00,NaN,NaN,2018-11-10 20:00:00,2018-11-05 08:00:00,f,221.96,2219.65,2194.59,2304.82

In [23]:
po.head(3)

,purchase_order_id,shipment_id,container_id,product_id,consignee_company_id,supplier_company_id,purchase_order_created_date,purchase_order_requested_cargo_ready_date,purchase_order_requested_delivery_date,booking_created_date,booking_cargo_ready_date,purchase_order_sku_count,purchase_order_sku_price,booking_sku_count,shipped_sku_count,shipped_sku_price
0,42200,559601,201144.0,3107426,683679,748415,2019-07-16 16:23:07.832878,2019-08-17,NaN,2019-06-19 11:00:50.95693,2019-08-17,410,NaN,307,205.0,24.66
1,4113,108567,NaN,1074767,546609,631676,2017-10-19 19:36:09.125558,2017-08-28,2017-09-22,2017-08-26 02:09:49.899587,2017-09-15,659,32.8,659,659.0,32.80
2,48494,596848,NaN,3105268,683679,749342,2019-07-12 20:16:23.975147,2019-11-07,2019-11-07,2019-08-14 08:27:05.507885,2019-10-20,154,NaN,154,NaN,NaN

Let's check datatypes.

In [24]:
po.dtypes

purchase_order_id                              int64
shipment_id                                    int64
container_id                                 float64
product_id                                     int64
consignee_company_id                           int64
supplier_company_id                            int64
purchase_order_created_date                   object
purchase_order_requested_cargo_ready_date     object
purchase_order_requested_delivery_date        object
booking_created_date                          object
booking_cargo_ready_date                      object
purchase_order_sku_count                       int64
purchase_order_sku_price                     float64
booking_sku_count                              int64
shipped_sku_count                            float64
shipped_sku_price                            float64
dtype: object

Change datatype for timestamp data

In [25]:
po.purchase_order_created_date=pd.to_datetime(po.purchase_order_created_date)
po.purchase_order_requested_cargo_ready_date=pd.to_datetime(po.purchase_order_requested_cargo_ready_date)
po.purchase_order_requested_delivery_date=pd.to_datetime(po.purchase_order_requested_delivery_date)
po.booking_created_date =pd.to_datetime(po.booking_created_date)
po.booking_cargo_ready_date=pd.to_datetime(po.booking_cargo_ready_date)

In [26]:
po.dtypes

purchase_order_id                                     int64
shipment_id                                           int64
container_id                                        float64
product_id                                            int64
consignee_company_id                                  int64
supplier_company_id                                   int64
purchase_order_created_date                  datetime64[ns]
purchase_order_requested_cargo_ready_date    datetime64[ns]
purchase_order_requested_delivery_date       datetime64[ns]
booking_created_date                         datetime64[ns]
booking_cargo_ready_date                     datetime64[ns]
purchase_order_sku_count                              int64
purchase_order_sku_price                            float64
booking_sku_count                                     int64
shipped_sku_count                                   float64
shipped_sku_price                                   float64
dtype: object

## Dataframe Statistics

In [27]:
po.iloc[:,6:].describe()

,purchase_order_sku_count,purchase_order_sku_price,booking_sku_count,shipped_sku_count,shipped_sku_price
count,26085.000000,22750.000000,26085.000000,9124.000000,9124.000000
mean,2393.725973,53.414260,2453.062641,3454.426677,97.873275
std,7873.758685,199.336624,7942.791285,8487.676258,840.807908
min,0.000000,0.000000,2.000000,5.000000,0.160000
25%,123.000000,13.612500,138.000000,410.000000,7.960000
50%,493.000000,21.675000,512.000000,960.000000,23.410000
75%,1478.000000,33.775000,1537.000000,3084.000000,49.990000
max,451007.000000,6860.310000,451007.000000,148185.000000,45372.120000

## Missing Data

Some of the columns might need to be removed since they have more than 85% of the data missing

In [34]:
po.isnull().sum()

purchase_order_id                                0
shipment_id                                      0
container_id                                 21529
product_id                                       0
consignee_company_id                             0
supplier_company_id                              0
purchase_order_created_date                      0
purchase_order_requested_cargo_ready_date      339
purchase_order_requested_delivery_date         641
booking_created_date                             0
booking_cargo_ready_date                       215
purchase_order_sku_count                         0
purchase_order_sku_price                      3335
booking_sku_count                                0
shipped_sku_count                            16961
shipped_sku_price                            16961
dtype: int64

In [28]:
shipments.isnull().sum()

shipment_id                                   0
shipment_created_in_system_date               0
mode                                          0
bco                                           0
freight_service                               0
freight_type                                  0
incoterms                                    57
contains_dangerous_goods                      4
supplier_company_id                           0
consignee_company_id                          0
supplier_lat                                 24
supplier_lng                                 24
departure_port                                5
arrival_port                                  3
inland_port                                6494
consignee_final_destination_lat             236
consignee_final_destination_lng             236
tradelane                                     0
freight_carrier                              96
actual_cargo_ready_date                       3
scheduled_departure_port_departure_date     702
actual_departure_port_departure_date        389
scheduled_arrival_port_arrival_date          90
actual_arrival_port_arrival_date            587
scheduled_inland_port_arrival_date         6517
actual_inland_port_arrival_date            6658
scheduled_delivery_date                     365
actual_delivery_date                       1001
includes_customs                              0
target_net_revenue                           46
estimated_total_cost                          0
actual_total_cost                             0
actual_total_invoice                          0
dtype: int64

In [29]:
def missing_percent(df):
    print(pd.DataFrame({"Missing values (%)":df.isnull().sum()/len(df.index)*100}))

In [30]:
missing_percent(shipments)

                                         Missing values (%)
shipment_id                                        0.000000
shipment_created_in_system_date                    0.000000
mode                                               0.000000
bco                                                0.000000
freight_service                                    0.000000
freight_type                                       0.000000
incoterms                                          0.751979
contains_dangerous_goods                           0.052770
supplier_company_id                                0.000000
consignee_company_id                               0.000000
supplier_lat                                       0.316623
supplier_lng                                       0.316623
departure_port                                     0.065963
arrival_port                                       0.039578
inland_port                                       85.672823
consignee_final_destination_lat                    3.113456
consignee_final_destination_lng                    3.113456
tradelane                                          0.000000
freight_carrier                                    1.266491
actual_cargo_ready_date                            0.039578
scheduled_departure_port_departure_date            9.261214
actual_departure_port_departure_date               5.131926
scheduled_arrival_port_arrival_date                1.187335
actual_arrival_port_arrival_date                   7.744063
scheduled_inland_port_arrival_date                85.976253
actual_inland_port_arrival_date                   87.836412
scheduled_delivery_date                            4.815303
actual_delivery_date                              13.205805
includes_customs                                   0.000000
target_net_revenue                                 0.606860
estimated_total_cost                               0.000000
actual_total_cost                                  0.000000
actual_total_invoice                               0.000000

In [38]:
missing_percent(po)

                                           Missing values (%)
purchase_order_id                                    0.000000
shipment_id                                          0.000000
container_id                                        82.534023
product_id                                           0.000000
consignee_company_id                                 0.000000
supplier_company_id                                  0.000000
purchase_order_created_date                          0.000000
purchase_order_requested_cargo_ready_date            1.299597
purchase_order_requested_delivery_date               2.457351
booking_created_date                                 0.000000
booking_cargo_ready_date                             0.824228
purchase_order_sku_count                             0.000000
purchase_order_sku_price                            12.785126
booking_sku_count                                    0.000000
shipped_sku_count                                   65.022043
shipped_sku_price                                   65.022043

# Data Cleaning

In [41]:
shipments['departure_port'].unique()

array(['Xiamen, China', 'Ningbo', 'Yantian, China',
       'HKG - Hong Kong - Hong Kong', 'SGN - Ho Chi Minh City - Vietnam',
       'Shanghai, China', 'Hong Kong, Hong Kong',
       'AMS - Amsterdam - Netherlands', 'PVG - Shanghai - China',
       'Cai Mep, Vietnam (Int. Terminal)', 'LAX - Los Angeles - CA',
       'Fuzhou, China', 'Ho Chi Minh, Vietnam', 'TPE - Taipei - Taiwan',
       'NRT - Tokyo - Japan', 'Keelung', 'Kaohsiung, Taiwan',
       'HAN - Hanoi - Vietnam', 'Savannah, Georgia',
       'SZX - Shenzhen - China', 'Sihanoukville, Cambodia',
       'Vung Tau, Vietnam', 'CAN - Guangzhou - China',
       'Nhava Sheva, India', 'Long Beach, California', 'Jacksonville',
       'DEL - Delhi - India', 'Dongguan, 44', 'Nanjing', 'Genoa, Italy',
       'Laem Chabang, Thailand', 'Hai Phong, Vietnam', 'Hamburg, Germany',
       'Port Qasim, Pakistan', 'Jiangmen', 'LIN - Milan - Italy',
       'Qingdao, China', 'Tianjin Xingang', 'FRA - Frankfurt - Germany',
       'Huangpu', 'Garden City, GA', 'IST - Istanbul - Turkey',
       'Zhongshan, China', 'Leghorn Livorno, Italy',
       'HFE - Hefei - China', 'XMN - Xiamen - China', 'Mobile, Alabama',
       'Shekou', 'Mundra, India', 'MXP - Milan - Italy', 'Bremerhaven ',
       'CGO - Zhengzhou - China', 'Nansha', 'Southampton, United Kingdom',
       'MAD - Madrid - Spain', 'FOC - Fuzhou - China',
       'FCO - Rome - Italy', 'VCE - Venice - Italy', 'Shenzhen, China',
       'PEK - Beijing - China', 'BKK - Bangkok - Thailand',
       'DFW - Dallas - TX', 'New York, NY / Newark, NJ', 'La Spezia',
       'Phnom Penh, Cambodia', 'Cerritos, CA', 'Taipei', 'BRUNSWICK, GA',
       'Zhuhai', 'NKG - Nanjing - China', 'Los Angeles, CA',
       'Venice, Italy', 'New Orleans, Louisiana',
       'BLR - Bengaluru - India', 'Houston, TX', 'Shenzhen, 44',
       'Rotterdam, Netherlands', nan, 'Istanbul, Turkey',
       'WUH - Wuhan - China', 'HGH - Hangzhou - China', 'Ambarli, Turkey',
       'TSN - Tianjin - China', 'MEL - Melbourne - Australia',
       'Dalian, China', 'Sanshui', 'Mumbai', 'TAO - Qingdao - China',
       'ChangZhou, 32', 'ORD - Chicago - IL', 'Algeciras',
       'VIE - Vienna - Austria', 'Jakarta, Indonesia', 'Ba Ria, VN',
       'Karachi Harbor, Pakistan', 'SWK - MILAN - Italy',
       'Semarang, Indonesia'], dtype=object)

# Import Csv Data To Server

In [31]:
import psycopg2
from sqlalchemy import create_engine

In [32]:
def csv_to_server(df,tablename):
    engine = create_engine('postgresql://postgres:password@localhost:5432/postgres')
    df.to_sql(tablename,engine, schema='flexport',index=False)

In [40]:
csv_to_server(suppliers,'suppliers')
csv_to_server(containers,'containers')
csv_to_server(cosignees,'cosignees')
csv_to_server(po,'purchase_booking')
csv_to_server(shipments,'shipments')

UsageError: Cell magic `%%` not found.

And I changed data types and set primary keys and foreign keys with DBeaver.

![ERD](ERDiagram.png)